################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaMVC/.vs
/VajaMVC/packages
/VajaMVC/VajaMVC/bin
/VajaMVC/VajaMVC/obj/Debug
/MVCNajprejKoda/.vs
/MVCNajprejKoda/MVCNajprejKoda/App_Data
